html, body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  canvas {
    display: block;
    margin-top: 15vh;
  }

select {
  background-color:transparent;
  color: gray;
}
  